body {
    margin: 0;
    font-family: "Poppins", sans-serif;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.5;
    color: #22C7E7 !important;
    text-align: left;
    background-color: #1e1e2f;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 400;
    color: #22C7E7;
}

a {
    color: #00091f;
    font-weight: 300;
}

a:hover,
a:focus {
    color: #22c9e9;
}

.border {
    border: 0.0625rem solid !important;
}

h3 {
    font-size: 1.4375rem !important;
}
a:hover, a:focus {
    color: #22c9e9;
}
.navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0.625rem 0.9375rem;
}

.navbar.navbar-absolute {
    position: fixed;
    z-index: 1050;
}

.navbar.navbar-desktop {
    background: #181818;
}

.wrapper {
    position: relative;
    background: #E4E9F7;
    height: 100vh;
    /*left: 260px;*/
    width: 100%;
    transition: all 0.5s ease;
    top: 0;
}

.magic-pattern {
    width: 100%;
    /*height: 100%;*/
    background-size: cover;
    background-position: center center;
    background-repeat: repeat;
}

.main-panel {
    position: relative;
    float: right;
    width: 100%;
    min-height: 100vh;
    /*background: linear-gradient(#1e1e2f, #1e1e24);*/
    background: #202020;
    -webkit-transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
    -moz-transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
    -o-transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
    -ms-transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
    transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
}

.main-panel > .content {
    padding-top: 50px;
    min-height: calc(100vh - 70px);
}

/*icon list*/
.coin-item {
    list-style: none
}

.coin-link {
    display: flex;
    text-decoration: none;
    width: 6rem;
    height: 6rem;
    transition: .5s linear;
    position: relative;
    z-index: 1;
    align-items: flex-start;
    justify-content: center;
}

/*header*/
.menu {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu > li {
    margin: 0 1rem;
    overflow: hidden;
}

.menu-button-container {
    display: none;
    height: 100%;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#menu-toggle {
    display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
    display: block;
    background-color: #22C7E7;
    position: absolute;
    height: 4px;
    width: 30px;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 2px;
}

.menu-button::before {
    content: "";
    margin-top: -8px;
}

.menu-button::after {
    content: "";
    margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
    margin-top: 0px;
    transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
    background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
    margin-top: 0px;
    transform: rotate(-405deg);
}

@media (max-width: 700px) {
    .menu-button-container {
        display: flex;
    }

    .menu {
        position: absolute;
        top: 0;
        margin-top: 48px;
        left: 0;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    #menu-toggle ~ .menu li {
        height: 0;
        margin: 0;
        padding: 0;
        border: 0;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }

    #menu-toggle:checked ~ .menu li {
        border-bottom: 1px solid #252525;
        height: 2.5em;
        padding: 0.5em;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }

    .menu > li {
        display: flex;
        justify-content: center;
        margin: 0;
        padding: 0.5em 0;
        width: 100%;
        background-color: #181818;
    }

    .menu > li:not(:last-child) {
        border-bottom: 1px solid #444;
    }
}

/*faq*/
.accordion .accordion-item {
    border-bottom: 1px solid #676767;
}

.accordion .accordion-item button[aria-expanded=true] {
    border-bottom: 1px solid #676767;
}

.accordion button {
    position: relative;
    display: block;
    text-align: left;
    width: 100%;
    padding: 1em 0;
    color: #7288a2;
    font-size: 15px;
    font-weight: 800;
    border: none;
    background: none;
    outline: none;
    padding-right: 22px;
}

.accordion button:hover, .accordion button:focus {
    cursor: pointer;
    color: #03b5d2;
    outline: none;
}

.accordion button:hover::after, .accordion button:focus::after {
    cursor: pointer;
    color: #03b5d2;
    border: 1px solid #03b5d2;
}

.accordion button .accordion-title {
    padding: 1em 1.5em 1em 0;
}

.icon-faq {
    display: inline-block;
    position: absolute;
    top: 18px;
    right: 0;
    width: 22px;
    height: 22px;
    border: 1px solid;
    border-radius: 22px;
}

.icon-faq::before {
    display: block;
    position: absolute;
    content: "";
    top: 9px;
    left: 5px;
    width: 10px;
    height: 2px;
    background: currentColor;
}

.icon-faq::after {
    display: block;
    position: absolute;
    content: "";
    top: 5px;
    left: 9px;
    width: 2px;
    height: 10px;
    background: currentColor;
}

.accordion button[aria-expanded=true] {
    color: #03b5d2;
}

.accordion button[aria-expanded=true] .icon::after {
    width: 0;
}

.accordion button[aria-expanded=true] + .accordion-content {
    opacity: 1;
    max-height: 9em;
    transition: all 200ms linear;
    will-change: opacity, max-height;
}

.accordion .accordion-content {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: opacity 200ms linear, max-height 200ms linear;
    will-change: opacity, max-height;
}

.accordion .accordion-content div {
    font-size: 12px;
    font-weight: 300;
    margin: 1em 0;
}

.alert {
    position: relative;
    padding: 0.9rem 1.25rem;
    border: 0.0625rem solid transparent;
    border-radius: 0.2857rem;
}

.alert-heading {
    color: inherit;
}

.alert-link {
    font-weight: 600;
}

.alert-dismissible {
    padding-right: 3.8125rem;
}

.alert-dismissible .close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.9rem 1.25rem;
    color: inherit;
}

.alert-primary {
    color: #00091f;
    background-color: #00091f;
    border-color: #00091f;
}

.alert-primary hr {
    border-top-color: #00091f;
}

.alert-primary .alert-link {
    color: #00091f;
}

.alert-secondary {
    color: #f4f5f7;
    background-color: #f6f7f8;
    border-color: #f6f7f8;
}

.alert-secondary hr {
    border-top-color: #e8eaed;
}

.alert-secondary .alert-link {
    color: #d6dae2;
}

.alert-success {
    color: #000000;
    background-color: #29f4cd;
    border-color: #29f4cd;
}

.alert-success hr {
    border-top-color: #11f3c7;
}

.alert-success .alert-link {
    color: #00bf9a;
}

.alert-info {
    color: #000000;
    background-color: #419ef9;
    border-color: #419ef9;
}

.alert-info hr {
    border-top-color: #2891f8;
}

.alert-info .alert-link {
    color: #0772db;
}

.alert-warning {
    color: #000000;
    background-color: #ff9f89;
    border-color: #ff9f89;
}

.alert-warning hr {
    border-top-color: #ff8a70;
}

.alert-warning .alert-link {
    color: #ff643f;
}

.alert-danger {
    color: #000000;
    background-color: #fd77a4;
    border-color: #fd77a4;
}

.alert-danger hr {
    border-top-color: #fd5e93;
}

.alert-danger .alert-link {
    color: #fc2b71;
}

.alert-light {
    color: #000000;
    background-color: #bac1c8;
    border-color: #bac1c8;
}

.alert-light hr {
    border-top-color: #acb4bd;
}

.alert-light .alert-link {
    color: #919ca6;
}

.alert-dark {
    color: #212529;
    background-color: #45484b;
    border-color: #45484b;
}

.alert-dark hr {
    border-top-color: #393b3e;
}

.alert-dark .alert-link {
    color: #0a0c0d;
}

.alert-default {
    color: #000000;
    background-color: #54648b;
    border-color: #54648b;
}

.alert-default hr {
    border-top-color: #4a597b;
}

.alert-default .alert-link {
    color: #243152;
}

.alert-white {
    color: white;
    background-color: white;
    border-color: white;
}

.alert-white hr {
    border-top-color: #f2f2f2;
}

.alert-white .alert-link {
    color: #e6e6e6;
}

.alert-neutral {
    color: white;
    background-color: white;
    border-color: white;
}

.alert-neutral hr {
    border-top-color: #f2f2f2;
}

.alert-neutral .alert-link {
    color: #e6e6e6;
}

.alert-darker {
    color: black;
    background-color: #292929;
    border-color: #292929;
}

.alert-darker hr {
    border-top-color: #1c1c1c;
}

.alert-darker .alert-link {
    color: black;
}
